.btn-container{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cat-btn{
    font-size: 20px;
    text-transform: capitalize;
    border: none;
    height: 50px;
    width: 150px;
    cursor: pointer;
    background-color:transparent;
    border-radius: 10px;
}
.cat-btn:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.8);
}